
.container {
  position: relative;
  height: 200px;
}

.container canvas {
  display: flex;
  flex: 1 0 auto;
}

.handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
}

