.article {
  margin: 0;
  padding: 0;
}

.title {
  composes: title from 'src/styles/fonts.css';
}

.article section {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}

.article figcaption {
  font-size: 15px;
  font-style: italic;
}

.article dfn {
  font-weight: 700;
}

.article blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 2px solid #666;
  color: #666;
}

.article p {
}

