.flex {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.module {
  composes: flex;
  flex-flow: row;
  position: relative;
  margin: 0;
  padding: 1em 0;
  background: black;
  color: white;
}

.container {
  composes: flex;
  flex: 1 0 0;
  align-items: stretch;
  max-width: 800px;
  padding: 0 2em;
}

.player {
  composes: flex;
  position: relative;
  width: 100%;
}

.module canvas {
  width: 100%;
  height: 200px;
}

.module figcaption {
  padding: 1em 0 0;
  color: #ddd;
}

.module button {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  background: black;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.module button svg {
  height: 50%;
  fill: white;
}

.player:hover button {
  opacity: 0.8;
}


