.flex {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.module {
  composes: flex;
  flex-flow: row;
  position: relative;
  margin: 0;
  padding: 1em 0;
  background: black;
  color: white;
}

.container {
  position: relative;
  composes: flex;
  flex: 1 0 0;
  align-items: stretch;
  max-width: 800px;
  padding: 0 2em;
}

.player {
  composes: flex;
  position: relative;
}

.plot {
  width: 100%;
  height: 200px;
}

.module figcaption {
  padding: 1em 0 0;
  color: #ddd;
}

.module button {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s;
  -webkit-appearance: none;
}
.module button div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.module button svg {
  height: 50%;
  fill: white;
}

.player:hover button {
  opacity: 0.8;
}

.slider {
  margin-top: 1em;
}

.row {
  margin: 0 -20px;
}

.simpleModule {
  composes: module;
}

.simpleModule .wave {
  height: 160px;
  /* not sure why this*/
  width: 320px;
  margin: 20px;
  align-self: stretch;
}

.simpleModule .wave .player {
  flex: 1 0 0;
}

.wave {
  flex: 1 0 auto;
  height: 200px;
  align-self: stretch;
}


.freqModule {
  composes: module;
}

.tics {
  position: absolute;
  top: 190px;
  width: calc(100% - 4em);
}
.tic {
  position: absolute;
  border-right: 1px solid white;
  padding-right: 0.3em;
  font-size: 16px;
}


.analyzerModule {
  composes: module;
}
.analyzerModule canvas {
  height: 300px;
}


.spectrum {
  height: 300px;
}

.waveSelect {
  margin: 1em 0;
}
.waveSelect .wave {
  height: 60px;
  flex: 1 0 0;
  margin-right: 20px;
  cursor: pointer;
}
.waveSelect .wave {
  opacity: 0.5;
}
.waveSelect .wave:hover {
  opacity: 1;
}
.waveSelect .wave.selected {
  opacity: 1;
}
.waveSelected {
  composes: wave;
}
.waveSelect .waveSelected {
  opacity: 1;
}

